body,
html {
  height: 100%;
  margin: 0px auto;
  padding: 0px auto;
  background: url("./img/annie-spratt.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  margin-top: 3%;
  justify-content: center;
}
.loginForm {
  top: 40px;
  text-align: center;
  width: 40%;
  margin-left: 33%;
  margin-right: 33%;
}

.loginText {
  color: white;
  font-size: 1.75rem;
  text-shadow: 0 0 5px #333;
}

#loginTitle {
  color: white;
  font-size: 2.25rem;
  text-shadow: 0 0 5px #333;
  /* border-bottom: 1px groove #333; */
}

.divider {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 1.5px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1.5px;
  background-image: linear-gradient(
    to right,
    transparent,
    #303133,
    transparent
  );
}

.btnStyle {
  display: inline-block;
  justify-content: center;
}
#signUp {
  color: white;
}

#submitBtn {
  color: white;
}

@media screen and (max-width: 768px) {
  .loginForm {
    top: 40px;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
