body,
html {
  height: 100%;
  margin: 0px auto;
  padding: 0px auto;
  background: url("./img/annie-spratt.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  margin-top: 3%;
  justify-content: center;
  text-align: center;
}

#sgnUpTitle {
  color: #f1eeeb;
  font-size: 2.25rem;
  text-shadow: 0 0 5px #2b302b;
}

#loginTitle {
  color: #f1eeeb;
  font-size: 2.25rem;
  text-shadow: 0 0 5px #2b302b;
}

.btn-success {
  background-color: #2b302b;
  color: #f1eeeb;
  border: transparent;
  margin: 5px;
}
.divider {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    #242d25,
    transparent
  );
}

.btnStyle {
  display: inline-block;
  justify-content: center;
  padding: 5px;
}
.signUp {
  color: #f1eeeb;
}
